<?xml version="1.0" encoding="UTF-8"?>
<usergroup>
    <groupid>{{groupId}}</groupid>
    <groupname>{{groupname}}</groupname>
    {{#user}}
        <user>
            <userid>{{userId}}</userid>
            <username>{{username}}</username>
            <duration>{{activeDuration}}</duration>
        </user>
    {{/user}}
</usergroup>